*{margin:0;
padding:0;
}


.sidebar{
	      background-color:lightblue;
		 height:100vh;
		 transition:transform 0.3s ease-in;
		 position:absolute;
		 
        }
	
.sidebar nav{
              padding:40px;
            } 
.sidebar nav li{list-style:none;
                font-size:30px;
				padding: 33px 0;
				}   
.sidebar nav li a{
                 text-decoration:none;
color:black;}				 
				
.main{
	  /* background-color:yellow; */
      width:90vw;
     }
.container{
           display:flex;	
		  }
.infocontainer {
               /* background-color:aqua;  */
			   height:50vh;
			   width:60vw;
			   margin:144px auto;
			   display:flex;
			   justify-content:space-around;
                }
				
.devinfo{ display:flex;
          justify-content:center;
          flex-direction:column;
		}
		
.hello{
	   font-size:65px;
       font-weight:bold;
	  }
	  
.name{
	  font-size:50px;
	 }
	 
.about{
	   font-size:30px;
	  }
.moreabout{
           font-size:20px;
           margin-top:23px;		   
}

.buttons{margin-top:34px;}	
  
.btn{
	padding:8px 12px;
	border-radius:22px;
	color:white;
	background-color:blue;
	font-weight:bold;
	font-size:15px;
	margin:0 3px;
	cursor:pointer;
}

.btn-sm{font-size:10px;
padding:7px 10px;
margin:10px 0;}

.btn:hover{
	color:blue;
background-color:white;}

		  
.devpic img{
	    height:50vh;
	   }
	   
.contactform {
	padding-top:50px;
	padding:0 34px;
	margin: 0 200px;
	
}

.contactform h1{ padding:12px 0;}

.contactform form div{padding:9px 0;
                       display:flex;
					   flex-direction:column;}
.contactform form div input{
	                   width:26vw;
					   border-radius:5px;
					   margin:6px 0 0 0;
					   padding:3px;
}
#emailHelp{
	       font-size:12px;
		   color:midnightblue;
margin:0 5px;
padding:3px 0 0 0;}

#form-check{
	flex-direction:row;
}

#form-check input{
	width:24px;
	margin:3px 0;
}
.service{margin:40px 200px;}
 .service h4{padding:10px;}
 .cv{margin:40px 200px;}
.blogitem{margin:20px;}
.blogcontainer h1{margin:23px;}
.blogcontainer{margin:40px 200px;}
.intro h2{margin:12px;}
.intro h4{margin:12px;
          font-size:17;}
 .intro{margin:50px 200px;} 
.skillcontainer{ padding:10px;
margin:10px;}
.skillitem{
/* align-items:center;display:flex; */
font-weight:700;}

.skill{
	width:269px;
	height:7px;
	background-color:blue;
	border:2px solid black;
}
.hundered{ width:269px;
background-color:pink;}

.fifty{
	width:196px;
background-color:red;}

.t5{
	width:75px;
background-color:yellow;
}

.sidebarGo{transform:translate(-13px,0px); 
		 position:absolute;} 

.hamburger{position:absolute;
cursor:pointer;
top:10px;
left:10px;}

.cross{margin-left:115px;}
@media (max-width:1200px){ 
/*.sidebarGo{transform:translate(-443px,0px);
position:absolute;}*/}
.intro ,.blogcontainer ,.intro


	   